{% extends '@!EasyAdmin/default/layout.html.twig' %}

{% block wrapper_wrapper %}
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-center align-content-center flex-wrap">
            <p class="h2">Авторизация</p>
            <p class="lead">через домашний портал</p>
            <div class="form-group">
                <a href='{{ url }}' class="btn btn-info">Войти</a>
            </div>
        </div>
    </div>
{% endblock wrapper_wrapper %}